---
// Importamos proyectos
import projects from './data/projects.json'
---

<script is:inline>
	// Código JS que se ejecuta en el cliente
	const openModal = (project) => {
		const modalOverlay = document.createElement('div')
		modalOverlay.classList.add(
			'fixed',
			'inset-0',
			'flex',
			'items-center',
			'justify-center',
			'bg-black',
			'bg-opacity-50',
			'z-50',
		)

		const modalContent = document.createElement('div')
		modalContent.classList.add(
			'bg-white',
			'p-6',
			'rounded-lg',
			'w-11/12',
			'md:w-1/2',
			'relative',
		)

		const closeButton = document.createElement('button')
		closeButton.classList.add('absolute', 'top-2', 'right-2', 'text-gray-600')
		closeButton.textContent = '✖'
		closeButton.onclick = closeModal

		const projectTitle = document.createElement('h2')
		projectTitle.classList.add('text-3xl', 'font-bold', 'mb-4')
		projectTitle.textContent = project.title

		const projectDescription = document.createElement('p')
		projectDescription.classList.add('mb-4')
		projectDescription.textContent = project.description

		const imagesContainer = document.createElement('div')
		imagesContainer.classList.add('grid', 'grid-cols-1', 'gap-4')

		project.images.forEach((image, index) => {
			const imgElement = document.createElement('img')
			imgElement.src = image
			imgElement.alt = `Capture ${index + 1}`
			imgElement.classList.add('w-full', 'h-auto', 'object-cover', 'rounded-md')
			imagesContainer.appendChild(imgElement)
		})

		modalContent.appendChild(closeButton)
		modalContent.appendChild(projectTitle)
		modalContent.appendChild(projectDescription)
		modalContent.appendChild(imagesContainer)
		modalOverlay.appendChild(modalContent)

		document.getElementById('modal-root').appendChild(modalOverlay)
	}

	const closeModal = () => {
		const modalRoot = document.getElementById('modal-root')
		if (modalRoot) {
			modalRoot.innerHTML = ''
		}
	}
</script>

<div>
	<section id="proyectos" class="container mx-auto py-16 px-4 md:px-0">
		<h2 class="text-center text-4xl font-bold mb-8">Proyectos</h2>

		<div class="carousel-container grid grid-cols-1 md:grid-cols-3 gap-6">
			{
				projects.map((project) => (
					<div
						key={project.title}
						class="carousel-item bg-white shadow-lg rounded-lg p-6 cursor-pointer transition-transform transform hover:scale-105"
						onClick={() => openModal(project)}
					>
						{project.imageUrl ? (
							<img
								src={project.imageUrl}
								alt={project.title}
								class="project-image w-full h-auto object-cover aspect-w-16 aspect-h-9 rounded-md max-h-[70vh]"
							/>
						) : (
							<div class="project-placeholder text-center text-gray-500 py-10">
								Oops! Foto no encontrada. 😅
							</div>
						)}
						<h3 class="project-title text-xl font-semibold mt-4">
							{project.title}
						</h3>
						<p class="project-description text-gray-600">
							{project.description}
						</p>
					</div>
				))
			}
		</div>
	</section>

	<div id="modal-root"></div>
</div>
